* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Circular Std", Sans-serif;
    box-sizing: border-box;
}

.revert{
    flex-wrap: wrap-reverse;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.wrap{
    /* width: 100%; */
    /* height: 100%; */
    overflow-x: hidden; 
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Nav left */
.nav__logo{

}

.nav h1 {
    font-size: 8rem;
    line-height:1.4;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    font-family: cursive;
}
/* mobile logo */
.nav-mobile-logo{
    display:none;
}

.nav__logo-img {
    max-width: 100%;
    display: block;
}

.nav__logo-img img{
    height: 10rem;
}

/* nav middle */
.nav__middle {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav__middle-item{
    height: 100%;
}

.drop-toggle{
    font-size: 1.6rem;
    font-weight: 900;
    transition: .4s;
}


.nav__middle-text:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    transition: all 0.4s ease;
}

.nav__middle-text:hover i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    transform: rotateZ(-180deg);
    transition: all 0.4s ease-in-out;
}

.nav__middle-text{
    display: block;
    font-family: "Circular Std", Sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding: 1rem 1.6rem;
    transition: all 0.4s ease;
}



/* nav right */

.nav__right{
    padding-left: 2rem;
}



.nav__right a{
    display: flex;
    position: relative;
    justify-content:center;
    text-decoration: none;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    color: #fff;
    min-height: 4.5rem;
    min-width: 14rem;
    border-radius:.5rem;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}


.nav__right a::before{
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0rem;
    top: 1.1rem;
    height: 100%;
    width: 40px;
    transform: translateX(100%);
    transition: all 0.4s linear 0s;
}

.nav__right a:hover::before{
    text-indent: 0;
    transform: translateY(-25%);
    transition: all 0.4s ease-in-out
}


.nav__right a:hover{
    text-indent: -20px;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.nav__right:hover span{
    right: -11px;
    transition: all 0.4s ease-in-out
}

/* Nav mobile */
.header__mobile-navbar{
    padding: 0 12px;
    display: none;
}

.header__mobile-navbar-icon{
    cursor: pointer;
    line-height: 1.4;
    font-size: 3.6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}

.header__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 11;
    display: none;
}

.header__overlay-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    width: 40rem;
    min-width: 40remq;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear .2s, transform linear .2s;
    z-index: 12;
}

.header__overlay-ul{
    padding: 0;
    margin-top: 4rem;
}

.header__overlay-li{
    position: relative;
    margin-top: 24px;
    list-style: none;
    padding-left: 0;
}


.header__overlay-li:after{
        position: absolute;
        content: "";
        width: 0%;
        height: 1.5px;
        background-color: #fff;
        bottom: calc(0% + -0.4rem);
        left: calc(0% + 2rem);
        transition: all .3s ease 0s;
        -webkit-transition: all .5s ease 0s;
}

.header__overlay-li:hover:after {
    width: 50%;
}

.header__mobile-times-icon{
    font-size: 2rem;
    color: #000;
    position: absolute;
    top: -0.3rem;
    right: 1rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.header__mobile-times-icon:hover{
    color: #fff;
}

.header__overlay-a{
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    min-height: 40px;
    line-height: 40px;
    padding-left: 24px;
}

.header__overlay-a:hover{
    color: #fff ;
}

.header__nav-input:checked ~ .header__overlay {
    display: block;
    }

.header__nav-input:checked ~ .header__overlay-nav {
    transform: translateX(0%);
    opacity: 1;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

.nav__right-mobile{

}

/* Baner */

.body{
}

.banner{
    display: flex;
    align-items: center;
    padding:  10rem 0 6rem 0;
    background-color: hsl(240, 100%, 99%);
}

.banner-content{
    text-align: center;
    margin-right: 14rem;
    margin-top: 10rem;
}


.banner-content img{
    width:100%;
}

.banner-content h2{
    font-family: "Circular Std", Sans-serif;
    font-size: 2.6rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4;
    margin-bottom: 2.8rem;
}

.banner-app{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 3rem;
}


.form-group{
    width: 41rem;
    height: 6.6rem;
    background-color: hsl(228, 50%, 96%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.input-control{
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding: 1rem 16px;
    background-color: hsl(228, 50%, 96%);

}

.btn-control{
    height: 5.8rem;
    font-weight: 500;
    color: #fff;
    font-size: 1.8rem;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    border: none;
    border-radius: 5px;
    width: 154px;
    outline: none;
    cursor: pointer;
}

.btn-control:hover{
    opacity: .9;
}

.banner-image{
    position: relative;
    width: 100%;
    text-align: center;
}

.banner-image img{
    width: 60%;
    max-width: 100%;
    height: auto;
}

.slide-show{
    width: 25rem;
    height: 51rem;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 50%;
    overflow: hidden;
    border-radius: 8px 8px 26px 26px;
    box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.slide{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slide  img{
    height: 51rem;
    width: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}


/* Rating */
.rating{
    background-color: #5454D4;
    padding: 8rem 0;
}

.rating-content{
    text-align: left;
    /* padding: 0 6.6rem 0 ; */
    margin-bottom: 6rem;
}

.rating__single{
    padding: 25px 30px 12px 30px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    border-radius:.6rem;
    height: 40rem;
}

.rating__img{
    margin-bottom: 2rem;
    width: 40%;
    border-radius: 50%;

}

.rating__img img{
    border-radius: 50%;
}

.rating__desc{
}

.rating__desc p{
    font-size:1.5rem;
    line-height:1.6;
    color: #666;
    padding:1rem 0;
}

.rating__desc h4{
    font-size: 2rem;
    text-align: center;
}

.rating__stars i{
    font-size:1.6rem;
    color: #ffbf4a;
}

.owl__item:hover .rating__desc h4 {
    color: #777777;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.owl-dots {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.owl-carousel button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #8490ff !important;
    margin: 0 5px;
    transition:  all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.owl-carousel button.owl-dot.active {
    width: 30px;
    background: #fff !important;
    border-radius: 25px;
}
.owl-carousel button.owl-dot:hover {
    background: #fff !important;
}

.rating-icon{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #FEDC5A;
}

.rating-comment{
    font-family: "Circular Std", Sans-serif;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 3.9rem;
    letter-spacing: 0.65px;
    margin-bottom: 2.1rem;
}

.rating-user{
    font-family: "Circular Std", Sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: -0.5px;
    color: #FFFFFFB3;
}

/* Program */
.program{
    padding: 5rem 0 9.5rem 0;
}


.program-app{
    margin-top:3rem;
    padding: 0 6.6rem 0 0;
}

.program-heading{
    color: #19191B;
    font-family: "Circular Std", Sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height:1.16;
    letter-spacing:-1.8px;
    margin-bottom: .8rem;
}

.program-desc{
    text-align: left;
    color: #000000B3;
    font-family: "Circular Std", Sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    line-height:1.857142;
    letter-spacing:-0.656526px;
    margin-bottom: 3.2rem;
}

.program-list{
    display: flex;
    justify-content:center;
    margin-bottom: 3.8rem;
    gap: 2rem;
}

.program-list span{
    background-color: #5454D4;
    color: #fff;
    border-radius: 50%;
    width: 8rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.4rem;
    font-weight: 700;
    font-family: "Circular Std", Sans-serif;
    line-height: 30.36px;
    letter-spacing:.75px;
}

.program-list__desc h4{
    margin-bottom: 1.4rem;
    color: #19191B;
    font-family: "Circular Std", Sans-serif;
    font-size:2.1rem;
    font-weight:700;
    line-height:1.28;
    letter-spacing:-0.656526px;
}

.program-list__desc p{
    color: #696871;
    font-family: "Circular Std", Sans-serif;
    font-size:1.6rem;
    font-weight:400;
    line-height: 1.75;
    letter-spacing: -0.500211px;
}

.program-img{
    text-align: center;
    width: 100%;
    height: auto;
}

.program-img img{
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateX(0rem);
    }
    50% {
        transform: translateY(-2rem);
    }
}


/* View */
.view{
    margin-bottom: 5rem;
}

.view img:first-child{
    transform: translateY(-5rem)
}

.view img:nth-child(2){
    transform: translate(1.5rem, -9.6rem)
}

.view img:nth-child(3){
    transform: translateY(-16.3rem)
}

.view img:nth-child(4){
    transform: translate(1.5rem, -8.4rem)
}



.view-context h2{
    font-size: 5rem;
    font-family: "Circular Std", Sans-serif;
    font-weight: 700;
    line-height:1.16;
    letter-spacing:-1.8px;
    margin-bottom: 2rem;
    margin-top: 14rem;
}

.view-context p{
    font-size: 2.1rem;
    color: #000000B3;
    font-family: "Circular Std", Sans-serif;
    font-weight: 400;
    line-height:1.857142;
    letter-spacing:-0.656526px;
}

/* App */
.app{
    background-color: #f3f5f652;
    padding: 2.5rem 0 5rem 0;
}

.app-context{
    margin-top: 12rem;
}

.app-heading{
    font-size: 4.8rem;
    font-family: "Circular Std", Sans-serif;
    line-height:1.16;
    letter-spacing:-1.18px;
    margin-bottom: 3rem;
}

.app-desc{
    font-size: 2.1rem;
    color: #000000B3;
    font-family: "Circular Std", Sans-serif;
    font-weight:400;
    line-height:1.857142;
    letter-spacing:-0.656526px;
    margin-bottom: 3rem;
}

.app-img{
    text-align:center;
    height:auto;
    width:100%;
    animation: float 3s linear infinite;
}

.app-btn{
    border: none;
}

.app-btn a{
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-family: "Circular Std", Sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2rem;
    color: #fff;
    min-height: 6.5rem;
    min-width: 21rem;
    border-radius: 0.5rem;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    transition: all 0.4s linear 0s;

    
}
.app-btn a::before{
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0rem;
    top: 1.8rem;
    height: 100%;
    width: 8rem;
    transform: translateX(100%);
    transition: all 0.3s linear 0s;
}

.app-btn a:hover::before{
    text-indent: 0;
    transform: translateY(-25%);
    transition: all 0.4s ease-in-out
}


.app-btn a:hover{
    text-indent: -20px;
    cursor: pointer;
    transition: all 0.4s linear 0s;
}

.app-btn:hover span{
    right: -11px;
    transition: all 0.4s ease-in-out
}

.app-btn span{
    font-family: "Circular Std", Sans-serif;
    transition: all 0.4s ease-in-out
}

/* Video */
.video-img{
    width: 100%;
    padding: 30rem 0 30rem 0;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/video-bg.jpg');
    text-align: center;
}

.video-img span{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.8rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.video-img i{
    color: #5454D4;
}

.video-img i:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
}

.video-img i::before{
    content: "\f04b";
    position: absolute;
    z-index: 1;
    left: -8%;
    top: -6%;
    font-size: 2rem;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    place-items: center;
    background-color:#fff;
    width: 9rem;
    height: 9rem;
    animation: pulse-border 1200ms ease-out infinite;
}


@keyframes pulse-border {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.video-player{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 10;
    text-align: center;
    padding-top: 10rem;
    transform: translate(-50%,-50%);
    animation: fadeIn ease .4s;
    transition: all .4s ease;
}

.video:focus{
    outline:none;
}

.video-player i{
    position: absolute;
    display: grid;
    place-items: center;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #5454D4;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    transition: all .4s ease;
}

.my-video{
    width: 90rem;
    height: 50rem;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: .8;
    }
}


/* Download */
.download{
    padding: 6rem 0;
    text-align: center;
    background-color: #fff;
}

.download-app h2{
    font-size: 4.8rem;
    font-family: "Circular Std", Sans-serif;
    color: #19191B;
    font-weight: 700;
    line-height: 1.16em;
    letter-spacing: -1.8px;
    margin-bottom: 2rem;
}

.download-app p{
    margin-bottom: 2rem;
    color: #696871;
    font-family: "Circular Std", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.857142em;
    letter-spacing: 0.5px;
}

.download-store img{
    margin-right: 2rem;
    cursor: pointer;
}


/* Footer */

.footer{
    background-color: #211E3B;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-img{
    width:100%;
    padding-bottom: 5rem;
}

.footer-img img{
    width: 38%;
    height: auto;
}

.footer-list{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.footer-item{
    list-style-type: none;
    line-height: 1.6;
    width: 27rem;
}

.footer-item i{
    color: #62abfc;
    font-size: 3rem;
    margin-bottom:2.5rem;
}

.footer-item p{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom:1.5rem;
}

.footer-item h6{
    color: #AEAACB;
    font-size:1.6rem;
    font-weight: 400;
    margin-bottom:.5rem
}

.footer-menu{
    display: flex;
    justify-content:center;
    color: #fff;
    list-style-type: none;
    padding-top: 4rem;
    gap: 4rem;
}

.footer-menu-item a{
    display:block;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}


.footer-menu-item a:hover{
    color: #43baff;
}

.footer-copyright{
    padding-top: 2rem ;
}

.footer-copyright p{
    font-size: 1.6rem;
    color: #AEAACB;
    text-align: center;
}

.footer-icon{
    padding-top: 2.6rem;
}

.footer-icon-list{
    display: flex;
    justify-content:center;
    gap: 1rem;
}

.footer-icon-item{
    list-style-type: none;
}

.footer-icon-item a{
    display: block;
    background-color: #fff;
    border-radius: 50% 50% 50% 50%;
    border: 0.6rem solid #fff;
    width: 3rem;
    height: 3rem;
}

.footer-icon-item:hover{
    opacity: .8;
}

.footer-icon-item .fa-twitter{
    position: relative;
    right: -.1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #4CCEF9;
}

.footer-icon-item .fa-facebook-f{
    position: relative;
    right: -.3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #2255EE;
}

.footer-icon-item .fa-linkedin-in{
    position: relative;
    right: -.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #3292FF
}

.footer-icon-item .fa-instagram{
    position: relative;
    right: -.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #FF9000;
}

.footer-icon-item .fa-twitter,
.footer-icon-item .fa-facebook-f,
.footer-icon-item .fa-linkedin-in,
.footer-icon-item .fa-instagram{
    font-size:1.6rem;
    line-height:1.6rem;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



