* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.nav{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav left */
.nav__logo{
}
/* mobile logo */
.nav-mobile-logo{
    display:none;
}

.nav__logo-img {
    width: 100%;
}

.nav__logo-img img{
    width:20rem;
}

/* nav middle */
.nav__middle {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav__middle-item{
    position: relative;
    height: 100%;
}

.nav__middle-item:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0.15rem;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    bottom: calc(0% + -.4rem);
    left: calc(0% + 1.3rem);
    transition: all .3s ease 0s;
    -webkit-transition: all .5s ease 0s;
}

.nav__middle-item:hover::after{
    width:50%;
}

.nav__middle-text:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    transition: all 0.2s linear;
}

.nav__middle-text{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    padding: 1rem 1.6rem;
}

/* nav right */

.nav__right{
    padding-left: 2rem;
}

.nav__right i{
    line-height: 1.4;
    font-size:3.6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}

.nav__right:hover{
    opacity: .7;
    cursor: pointer;
}

/* Nav mobile */
.header__mobile-navbar{
    padding: 0 12px;
    display: none;
}

.header__mobile-navbar-icon{
    cursor: pointer;
    line-height: 1.4;
    font-size: 3.6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}

.header__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 11;
    display: none;
}

.header__overlay-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    width: 220px;
    min-width: 220px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear .2s, transform linear .2s;
    z-index: 12;
    overflow-y: scroll;
}

.header__overlay-ul{
    padding: 0;
    margin-top: 4rem;
}

.header__overlay-li{
    position: relative;
    margin-top: 24px;
    list-style: none;
    padding-left: 0;
}


.header__overlay-li:after{
        position: absolute;
        content: "";
        width: 0%;
        height: 1.5px;
        background-color: #fff;
        bottom: calc(0% + -0.4rem);
        left: calc(0% + 2rem);
        transition: all .3s ease 0s;
        -webkit-transition: all .5s ease 0s;
}

.header__overlay-li:hover:after {
    width: 50%;
}

.header__mobile-times-icon{
    font-size: 2rem;
    color: #000;
    position: absolute;
    top: -0.3rem;
    right: 1rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.header__mobile-times-icon:hover{
    color: #fff;
}

.header__overlay-a{
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    min-height: 40px;
    line-height: 40px;
    padding-left: 24px;
}

.header__overlay-a:hover{
    color: #fff ;
}

.header__nav-input:checked ~ .header__overlay {
    display: block;
    }

.header__nav-input:checked ~ .header__overlay-nav {
    transform: translateX(0%);
    opacity: 1;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }


/* Baner */

.body{
    display: flex;
    align-items: center;
    height:65rem;
}

.banner-content{
    text-align: center;
}


.banner-content h1{
    font-size: 8rem;
    font-family: Satisfy, cursive;
    text-transform:uppercase;
    margin-bottom: 1.4rem;
    line-height: 1.4;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content h2{
    font-family: 'Segoe UI';
    font-size: 3rem;
    color: #000;
    line-height: 1.4;
    margin-bottom: 1.8rem;
}

.banner-app{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 3rem;
}

.banner-app-ios{
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}
.banner-app-android{
    padding: 2rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    background-image: -webkit-linear-gradient(0deg ,#b984ff 0%,#62abfc 100%);
}


.banner-image{
    width: 100%;
}

.banner-image img{
    
    width: 60rem;
    height: 45rem;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,100%{
        tranform: translateY(0rem);
    } 
    50% {
        transform: translateY(-3.5rem);
    }
}

/* Footer */

.footer{
    background-color: #211E3B;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-img{
    width:100%;
    padding-bottom: 5rem;
}

.footer-img img{
    width: 36rem;
    height: auto;
}

.footer-list{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.footer-item{
    list-style-type: none;
    line-height: 1.6;
    width: 27rem;
}

.footer-item i{
    color: #62abfc;
    font-size: 3rem;
    margin-bottom:2.5rem;
}

.footer-item p{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom:1.5rem;
}

.footer-item h6{
    color: #AEAACB;
    font-size:1.6rem;
    font-weight: 400;
    margin-bottom:.5rem
}

.footer-menu{
    display: flex;
    justify-content:center;
    color: #fff;
    list-style-type: none;
    padding-top: 4rem;
    gap: 4rem;
}

.footer-menu-item a{
    display:block;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}


.footer-menu-item a:hover{
    color: #43baff;
}

.footer-copyright{
    padding-top: 2rem ;
}

.footer-copyright p{
    font-size: 1.6rem;
    color: #AEAACB;
    text-align: center;
}

.footer-icon{
    padding-top: 2.6rem;
}

.footer-icon-list{
    display: flex;
    justify-content:center;
    gap: 1rem;
}

.footer-icon-item{
    list-style-type: none;
}

.footer-icon-item a{
    display: block;
    background-color: #fff;
    border-radius: 50% 50% 50% 50%;
    border: 0.6rem solid #fff;
    width: 3rem;
    height: 3rem;
}

.footer-icon-item:hover{
    opacity: .8;
}

.footer-icon-item .fa-twitter{
    position: relative;
    right: -.1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #4CCEF9;
}

.footer-icon-item .fa-facebook-f{
    position: relative;
    right: -.3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #2255EE;
}

.footer-icon-item .fa-linkedin-in{
    position: relative;
    right: -.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #3292FF
}

.footer-icon-item .fa-instagram{
    position: relative;
    right: -.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #FF9000;
}

.footer-icon-item .fa-twitter,
.footer-icon-item .fa-facebook-f,
.footer-icon-item .fa-linkedin-in,
.footer-icon-item .fa-instagram{
    font-size:1.6rem;
    line-height:1.6rem;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 1023px){
    .nav__middle-text{
        font-size: 2.6rem;
    }
}

@media (max-width:1023px){
    html{
        font-size:55%;
    }
    .banner-image img{
        width: 100%;
        animation: float 3s linear infinite;
    }
    .body{
        height:86rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    .banner-image {
        width: 100%;
        margin-top: 4rem;
    }
}

@media (max-width: 740px){
 
    .body{
        margin: 9rem 0;
    }
    .nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 11rem;
        padding: 0 1rem;
    }
    .nav__logo{
        display:none;
    }
    .nav-mobile-logo{
        display:block;
        position: relative;
        transform: translateY(-45%);
        top: 50%;
    }
    .nav-mobile-logo img{
        width:11rem;
    }
    .banner-app{
        flex-flow: column;
    }
    .banner-image{
        margin-top: 6rem;
    }
    .footer-menu{
        gap: 3rem;
    }
    /* nav mobile */
    .nav__middle{
        display:none
    }
    .header__mobile-navbar{
        display: block !important;
    }
}



